*{
	padding:0px;
	margin: 0px;
}
body{
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
}
ul, li{
	padding: 0px;
	margin: 0px;
}
body a{
	color: rgba(0, 0, 0, 1);
	margin: 0px;
	text-decoration: none;
}
body a:hover{
	color: rgba(0,0,0,1);
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
	padding: 0px;
	margin: 0px;
}
.logo img{
	padding-top: 10px;

}
.header-area{
	background: url(img/bg.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.active{
	background: red;
}
.menue ul li {
	display: inline-block;
	list-style:none;
	position: relative;
	margin: 0px ;
	padding: 15px -1px 0px;
	width: 133px;
	text-align: center;
}
.affix{
	z-index: 11111;
    width: 67.6%;
}
.menue ul li:hover {
	background: #74c7d5;
	/*border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;*/
}
.menue ul li a {
	text-decoration: none;
	display: inline-block;
	padding: 20px 30px;
	color: #fff;
}
.menue .dropdown {
	display: none;
}
.menue ul li:hover .dropdown {
	display: block;
	position: absolute;
	z-index: 1
}
.menue ul li .dropdown li{
	background: #74c7d5;
	border: none;
	padding: 0px;
	display: inline-block;
}
.menue ul li .dropdown li a{
	padding: 15px 15px;
}
.menue ul li .dropdown li:hover{
	background: red;
}
.menue ul li .dropdown li:last-child{
	border-radius: 0px 0px 5px 5px;
}
/*.menue ul li:hover .dropdown.menu1{
	perspective: 1000px;
}*/
/*.menue li {
	transition: 1s;
}*/
/*.menue .dropdown.menu2 {
	display: block;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	transition: 1s;
}*/

/*.menue ul li .dropdown.menu2 li {
}*/
/*.menue ul li:hover .dropdown.menu2  {
	visibility: visible;
	opacity: 1;
}*/
.menue ul li:hover .dropdown.menu1 li{
	animation-name: menu1;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
.menue ul li:hover .dropdown.menu2 li {
	animation-name: menu2;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}	

.menue ul li:hover .dropdown.menu3 li{
	animation-name: menu3;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}	
.menue ul li:hover .dropdown.menu4 li{
	animation-name: menu4;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}	
@keyframes menu1 {
	0%{
		opacity: 0;
		transform: rotateY(-90deg) translateY(10px);
	}
	100%{
		opacity: 1;
		transform: rotateY(0deg) translateY(0px);
	}
}
@keyframes menu2{
	0%{
		opacity: 0;
		transform: rotateX(90deg);
		transform: scaleX(.2);
	}
	50%{
		transform: scaleX(1.2);
	}
	100%{
		opacity: 1;
		transform: rotateX(0deg);
		transform: scaleX(1);
	}
}
@keyframes menu3{
	0%{
		opacity: 0;
		transform: skewX(50deg);
	}
	
	100%{
		opacity: 1;
		transform: skewX(0deg);
	}
}
@keyframes menu4{
	0%{
		opacity: 0;
		transform: skewY(40deg) translateY(30px);
	}
	100%{
		opacity: 1;
		transform: skewY(0deg) ;
	}
}
.text-separator{
	text-align: center;
	margin: 20% 0%;
	padding: 5px;
	color: #74c7d5;
	position: relative;
}
.text-separator:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .3;
}
.text-separator h3{
	font-size: 60px;
	margin: 0px;
	text-align: right;
	display: inline-block;
}
.text-separator h2{
	font-size: 138px;
	display: inline-block;
	margin: 0px;
}
.owl-carousel .owl-prev{
	font-size: 70px;
    color: #fff;
    position: absolute;
    top: 40%;
    left: -30%;
    opacity: .5;
}
.owl-carousel .owl-next{
	font-size: 70px;
    color: #fff;
    position: absolute;
    top: 40%;
    right: -30%;
    opacity: .5;
}
.owl-carousel{
	z-index: 0;
}
.owl-stage .active {
	background: transparent;
}

 /* end header area   */



#Service{
	background: url(img/Service-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 180px 0px 80px;
}
#Service , #About,#Work a{
	text-decoration: none;
}
#Service, #About a:hover{
	text-decoration: none;
}
.area-header{
	padding-bottom: 80px;
}
.area-header h1{
	font-size: 60px;
	font-weight: 300;
	color: #fff;
	padding-bottom: 30px;
}
.area-header h5{
	font-size: 20px;
	font-weight: 300;
	color: #fff;
	letter-spacing: 1px;
	padding-bottom: 15px;
}
.area-header h5 span{
	color: #ec9da2;
}
.area-header p{
	font-size: 14px;
	color: #d7c2d4;
}
.service-item {
	background: #c45158;
	opacity: .8;
	color: #fff;
	padding-top: 40px;
	transition: transform 1s ease-in-out;
}
.service-item:hover{
	box-shadow: 3px 2px 5px 5px gray;
	transform: scale(1.03);
}
.service-img{
	width: 100px;
	height: 100px;
	margin:auto;
	border-radius: 50%;
	padding: 0px 0px 20px;
	margin-bottom: 20px;
	position: relative;	
}
.image-1{
	background: #fff url(img/service-logo1.png) no-repeat center center;
}
.service-img:after{
	   position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    background: transparent;
    top: -10px;
    left: -10px;
    border: 5px solid #fff;
    border-radius: 50%;
}
.image-2{
	background: #fff url(img/service-logo2.png) no-repeat center center;
}
.image-3{
	background: #fff url(img/service-logo3.png) no-repeat center center;
}
.image-4{
	background: #fff url(img/service-logo4.png) no-repeat center center;
}
.service-item h3{
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 300;
}
.service-item p{
	padding:0px 25px 40px ; 
	font-size:14px;
}

/* end service area  */


#About{
	background: url(img/about-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 180px 0px 80px;
}
#About .area-header {
	padding-bottom: 50px;
}
#About .meet{
	padding: 20px;
	display: flex;
	justify-content: center;
  	align-items: center;
}
#About .meet h4{
	padding: 20px 40px;
	background: #a1ca6c;
	font-size: 25px;
	font-weight: 900;
	color:#fff;
	text-transform: uppercase;
	border-radius: 5px;
	margin-bottom: 70px;
	position: relative;
}
.meet h4:before{
	position: absolute;
	top: 100%;
	left: 50% ;
	border: solid transparent;
	content: "";
	margin-left: -20px;
	border-top-color: #a1ca6c;
	border-width: 20px;
	width: 0px;
	height: 0px;

}
#About .service-item{
	background-color: #4d3f4b;
	opacity: .8;
	filter: alpha(opacity=60);
}
#About .service-item img{
	filter: alpha(opacity=100);
	opacity: 1;
}
#About .service-item h3{
	padding: 30px 0px 10px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0px;
}
#About .service-item h5{
	color: #a1ca6c;
	font-size: 14px;
}
#About .service-item a{
	color: #fff;
}
#About .item-style{
	opacity: 1;
}
#About .item-style h5{
	color: #ff8973;
}
.service-item span{
	margin: 30px 5px;
}
#About .item-style span .icon-background1{ 
	color: #4f689e;
}
#About .item-style span .icon-background2{ 
	color: #74c7d5;
}
#About .item-style span .icon-background3{ 
	color: #df5c64;
}
#About .item-style span .icon-background4{ 
	color: #3e61af;
}
.service-item span .icon-background{
	color: #a1859e;
}


/* end service area */

#Work{
	background: url(img/work-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 180px 0px 80px;
}
.work-area .area-header {
	padding-bottom: 50px;
}
.work-area .area-header h1{
	text-transform: uppercase;
}
.work-area .logo{
	padding-top: 20px;
}
.work-area .logo a{
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
.work-area .menue-area{
	border-top:1px solid #94b963;
	border-bottom:1px solid #94b963;
}
.mix-menu ul li{
	list-style: none;
	display: inline-block;
	padding: 15px;
	cursor:pointer;
	color: #fff;
	margin: 10px 0px;
	width: 130px;
	text-align: center;
	border-radius: 5px;
}
.mix-menu ul li:hover{
	background: #f5c149;
}

.portfolio{
	margin: 50px 0px 0px;
}
.portfolio .mix{
	display: inline-block;
	padding: 0px 30px 0px 0px;
}
.portfolio .mix:last-child{
	padding: 0px;
}
.portfolio .mix:nth-child(4){
	padding: 0px;
}
.portfolio .image{
	position: relative;
	display:inline-block;
	margin-bottom: 50px;
	transition: 1s;
}
.portfolio .image:hover {
	box-shadow: 5px 5px 5px #75b4aa;
	transform: scale(1.1);
	transition: transform 1s;
}
.portfolio .image img{
	border-radius: 4px;
}
.portfolio .image:hover .icon-prob{
	display: block;
} 
.portfolio .image .overlay1{
	position: absolute;
	top: 0px;
	left: 0px;
	background: #3d4d29;
	opacity: 0;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	transition: 1s;
}
.portfolio .image:hover .overlay1{
	opacity: 1;
	visibility: visible;
	background: rgba(61, 77, 41, 0.70);
}
@keyframes over{
	0%{
		opacity: 0;
		height: 0%;
	}
	100%{
		opacity: .7;
		height: 100%;
	}
}
.portfolio .image .icon-prob{
	position: absolute;
	top: 30%;
	left: 40%;
	display: none;
	animation: over-icon 1s ease-in-out;
}
@keyframes over-icon{
	0%{
		opacity: 0;
		top: 0%;
	}
	100%{
		opacity: 1;
		top: 30%;
	}
}
.portfolio .port-text{
	position: relative;
}
.portfolio .port-text:after {
	position: absolute;
	content: "";
	border: 20px solid transparent;
	border-bottom-color: #eeeeee;
	bottom: 100%;
	left: 42%;
}
.portfolio .port-text h5{
	font-size: 14px;
	color: #727272;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 0px;
	background-color: #eeeeee;
}


/*  end work area  */

.contact-area{
	background: url(img/contacts-bg.jpg)no-repeat center center;
	background-size: cover;
	padding: 180px 0px 80px;
}
.contact-area .area-header {
	padding-bottom: 50px;
}
.contact-area .area-header p{
	color: #fff;
}
.address h5{
	font-size: 30px;
	color: #fff;
}
.address h5 span{
	font-size: 20px;
	font-weight: 700;
}
.address span{
	color: #c0dfda;
}
.address p{
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
}
.address p:nth-child(3){
	padding-bottom: 70px;
}
.address p a{
	color: #fff;
	font-size: 16px;
}
#map iframe{
	width: 100%;
    height: 275px;
    display: inline-block;
    padding-top: 50px;
}
.con-form h5{
	font-size: 30px;
	color: #fff;
}
.con-form form input{
	width: 47%;
	padding: 10px;
	border-radius: 3px;
	margin: 10px 10px 10px 0px;
	border:none;
	background: #68a097;
}
::-webkit-input-placeholder {
         color: #7bbdb3;
}
.con-form form textarea{
	display: block;
	width: 96.5%;
	border:none;
	border-radius: 3px;
	height: 150px;
	padding: 10px;
	background: #68a097;
	color: #fff;
}
.con-form form input:focus{
	background: #fff;
}
.con-form form textarea:focus{
	background: #fff;
}
.con-form form button{
	display: block;
    margin: 0 auto;
    border: none;
    text-transform: uppercase;
    padding: 10px 50px;
    margin-top: 20px;
    background-color: #df5c64;
    color: #fff;
    font-size: 26px;
    font-weight: 900;
    border-radius: 5px;
}



/*end contact area*/



.footer-area{
	background-color: #68a097;
	padding: 30px 0px;
}
.footer-area span{
	margin: 0px 10px;
}
.footer-area .icon-background{
	color: #82c8bd;
}
.footer-area span i:nth-child(2){
	color: #fff;
}



